@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
    box-sizing: border-box;
}

[contenteditable="true"]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #aaa;
 }
 
 ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(156, 156, 156);
    opacity: 1; /* Firefox */
 }
 
 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(156, 156, 156);
 }
 
 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(156, 156, 156);
 }

:root {
    --lightgrey: #e4e4e4;
    --greyText: #333333;
    --iosPb: env(safe-area-inset-bottom);
}

.logo {
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    font-size: 22px;
}

.logoBig {
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    font-size: 35px;
}


/* .iosPadding {
    height: calc(100% - calc(var(--iosPb))) 
} */

.overflow {
    overflow: auto;
}


/* flex */

.center {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.centerMobile {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}




.center1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.center2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.between {
    display: flex;
    justify-content: space-between;
}

.profileItems {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.paddingItems {
    margin-left: 50px;
    margin-right: 40px;
}

.profileBoxPadding {
    padding: 80px 0
}

.MuiAvatar-img {
    border-radius: 50%;
    color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    text-indent: 10000px;
}

.iconColor {
    color:#333333
}

.username1 {
    font-size: 17px;
    font-weight: 500;
}

.bio {
    font-size: 15px;
    font-weight: 400;
    color:#333333;
    margin-top: 5px;
}

.editProfileBtn {
    text-decoration: none;
    color: #111111;
    border: 1px solid var(--lightgrey);
    border-radius: 3px;
    padding: 8px 15px;
    width: 100%;
    height: 38px;
    background-color: white;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 400;
    flex-grow: 1;
}

.flexGrow {
    flex-grow: 1;
}

.mobileSettingsBtn {
    color: #111111;
    border: 1px solid var(--lightgrey);
    border-radius: 3px;
    width: auto;
    height: 38px;
    background-color: white;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.smallText {
    font-size: 14px;
    font-weight: 400;
    color: #474747
}

.alignCenter {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-direction:row;
}

.roundedImages {
    border-radius: 4px;
}



/* Utils */

.maxWidth800 {
    transition: 300ms;
    width: 700px;
}

.maxWidth500 {
    transition: 300ms;
    width: 500px;
}

.fullWidth {
    transition: 300ms;
    width: 100%;
}

.block {
    display: block;
}

.none {
    display: none;
}

.displayMobile {
    display: none !important;
}

.displayWeb {
    display: flex !important;
}

.profileItemsPadding {
    padding: 0;
}

.placeholderImageInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: var(--lightgrey);
}


@media only screen and (max-width: 840px) {
    
    .centerMobile {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    
    .roundedImages {
        border-radius: 0px;
    }

    .maxWidth800 {
        width: 100%;
    }

    .profileBoxPadding {
        padding: 60px 0 90px 0;
    }

    .profileItemsPadding {
        padding: 0 15px;
    }

    .displayMobile {
        display: flex !important;
    }

    .displayWeb {
        display: none !important;
    }
}

@media only screen and (max-width: 540px) {
    .maxWidth500 {
        width: 100%;
    }

    .profileItems {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .paddingItems {
        margin-left: 0;
        margin-right: 0;
    }
    
}

.btnPrimary {
    cursor: pointer;
    transition: 150ms;
    width: 100%;
    background-color: #0194F5;
    color: white;
    border-radius: 2px;
    padding: 15px;
    border: none;
    font-weight: 500;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btnPrimary:hover {
    cursor: pointer;
    transition: 150ms;
    width: 100%;
    background-color: #028eeb;
    color: white;
    border-radius: 2px;
    padding: 15px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.atag {
    transition: 150ms;
    color: #0086df;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2px;
    font-size: 15px;
}

.atag:hover {
    transition: 150ms;
    color: #0086df;
    font-weight: 500;
    text-decoration: underline;
    margin-left: 2px;
    font-size: 15px;
}

.zoomCursor {
    cursor: zoom-in;
}

.unzoomCursor {
    cursor: zoom-out;
}

.header {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 60px;
    width: 100vw;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid var(--lightgrey);
}

.headerFlex {
    justify-content:space-between;
}

.post {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;
    border: 1px solid var(--lightgrey);
    border-radius: 5px;
    background-color: white;
}

.post2 {
    width: 100%;
}

.loginBox {
    border: 1px solid var(--lightgrey);
    border-radius: 3px;
    background-color: white;
    
}

.imageRadius {
    border-radius: 2px 2px 0 0;
}

.paddingBox {
    padding: 0 40px 40px 40px;
}

.backgroundColor {
    background-color: #FAFAFA;
}

@media only screen and (max-width: 540px) {
    .loginBox {
        border: 1px none var(--lightgrey);
        border-radius: 0px;
        background-color: white;
        height: 100%;
        align-items: center;
    }

    .paddingBox {
        padding: 0 30px 30px 30px;
    }


    .imageRadius {
        border-radius: 0;
    }


    .backgroundColor {
        background-color: white;
    }
}

.textInput {
    width: 100%;
}

@media only screen and (max-width: 840px) {
    .post {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        /* border-top: 1px solid var(--lightgrey); */
        border-right: none;
        border-left: none;
        border-bottom: none;
        border: none;
        border-radius: 0;
    }
}

.image {
    width: 100%;
    border-radius: 0;
}

.image2 {
    width: 100%;
}

@media only screen and (max-width: 840px) {
    .image {
        width: 100%;
        border-radius: 0;
    }
}

.userBox {
    width: 100%;
    padding: 10px;
}

.buttonBox {
    width: 100%;
    padding: 0px 0px 2px 0px;
}

.likeBox {
    width: 100%;
    padding: 5px 15px 15px 15px;
}

.username {
    font-weight: 500;
    margin-left: 10px;
}

.description {
    font-size: 15px;
    font-weight: 400;
    margin-left: 9px;
    line-height: 1.3;
    color: var(--greyText);
}

.profileImage {
    margin-left: 5px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}

.webNav {
    display: block;
}

.mobileNav {
    display: none;
}

.padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding1 {
    padding-top: 65px;
    padding-bottom: 0;
}




@media only screen and (max-width: 840px) {
    .webNav {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 1;
        border-bottom: none;
    }

    .mobileNav {
        display: block;
        position: fixed;
        display: flex;
        justify-content: space-around;
        bottom: 0;
        z-index: 1;
        background-color: white;
        width: 100vw;
        padding: 5px;
        padding-bottom: calc(var(--iosPb) + 5px);
        border-top: 1px solid var(--lightgrey);
    }

    .logo {
        font-family: 'Lobster Two', cursive;
        font-weight: 400;
        font-size: 22px;
    }


    .headerFlex {
        justify-content: center;
    }

    .padding {
        padding-top: 60px;
        padding-bottom: 90px;
    }

    .padding1 {
        padding-top: 65px;
        padding-bottom: 90px;
    }
}


/* Photo grid */

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0px;
    /* Column gaps */
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 2px;
}


@media only screen and (max-width: 900px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1px;
        -moz-column-gap: 1px;
        column-gap: 1px;
    }

    .gallery .pics {
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease;
        cursor: pointer;
        margin-bottom: -3px;
    }
}


